* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	padding: 5px;
	max-width: 960px;
	width: 95%;
	margin: 20px auto;
}
h1{
	padding: 1em;
	font-size: 3em;
	text-align: center;
}

.columns {
	display: flex;
	flex-flow: row wrap;
	margin: 5px 0;
}
.column {
	position: relative;

	flex: 1;
	border: 1px solid gray;
	margin: 2px;
	padding: 10px;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
	
}

footer {
	padding: 0 15px;
	color: red;
	font-weight: bold;
}


@media screen and (max-width: 980px) {
  .columns .column {
		margin-bottom: 5px;
    flex-basis: 40%;
		&:nth-last-child(2) {
			margin-right: 0;
		}
		&:last-child {
			flex-basis: 100%;
			margin: 0;
		}
	}
}

@media screen and (max-width: 680px) {
	.columns .column {
		flex-basis: 100%;
		margin: 0 0 5px 0;
	}
}

	
.column:nth-last-child(2){
	background-color: salmon;
}